<div class="recover-container">
  <h3>Recover Password</h3>
  <form (ngSubmit)="onSubmit()" #recoverForm="ngForm" autocomplete="off">
    <label for="recover-username">Username</label>
    <input id="recover-username" name="username" type="text" required [(ngModel)]="username" #usernameInput="ngModel">
    @if(usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)){
        <div class="error-message"> 
        @if(usernameInput.errors?.['required']) {
          <div>Username is required.</div>
        }
        @if(usernameInput.errors?.['minlength'] || usernameInput.errors?.['maxlength']) {
          <div>Username must be between 4 and 12 characters.</div>
        }
        </div>
    }
    <label for="recover-email">Email</label>
    <input id="recover-email" name="email" type="email" required [(ngModel)]="email" #emailInput="ngModel">
    @if(emailInput.invalid && (emailInput.dirty || emailInput.touched)){
        <div class="error-message"> 
        @if(emailInput.errors?.['required']) {
          <div>Email is required.</div>
        }
        @if(emailInput.errors?.['email']) {
          <div>Invalid email address.</div>
        }
        </div>
    }
    <button type="submit" [disabled]="recoverInProgress">Send Recovery Email</button>
  </form>
  @if(errorMessage) {
    <div class="error-message">{{ errorMessage }}</div>
  }
  @if(successMessage) {
    <div class="success-message">{{ successMessage }}</div>
  }
</div>
